@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif;
    width: 100vw;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

header, footer, a {
    background-color: #3A3238;
    color: #F2EFE9;
}

header {
    margin-bottom: 40px;
}

nav {
    padding: 10px;
    margin-bottom: 30px;
}

article {
    padding: 5%;
    margin-bottom: 30px;
}

figure {
    width: 20%;
    height: 100%;
}

figure > img {
    width: 100%;
    border-radius: 5%;
    border: solid 3px #DE6449;

}

article:nth-of-type(1) {
    justify-content: space-evenly;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: hsl(315, 7%, 80%);
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #3A3238;
}

p, a, h4 {
    font-size: 18px;
    font-weight: 400;
}

figcaption {
    font-size: 16px;
    font-weight: 300;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 30px 5px;
}

blockquote::before { 
    content: open-quote;
    font-size: 1.5em; 
    font-weight: 900;
} 

blockquote::after { 
    content: close-quote;
    font-size: 1.5em; 
    font-weight: 900;
} 

span {
    font-size: 24px;

}

button {
    background-color: #DE6449;
    font-size: 1rem;
    border-radius: 5px;
    color: #F2EFE9;
    padding: 5px 15px;
    border: 1px solid #DE6449;
}

footer {
    height: 50px;
}

button:last-of-type {
    border: 1px solid #F2EFE9;
}

.quote {
    background-color: #F2EFE9;
}

.logo {
    font-size: 24px;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-even {
    display: flex;
    justify-content: space-evenly;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.centre {
    text-align: center;
}

.align-centre {
    align-items: center;
}

.call {
    background-color: #DE6449;
    color: #F2EFE9;
    width: 70%;
    margin: 30px auto;
    height: 90px;
    border-radius: 10px;
}
