@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif;
    width: 100vw;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    border: green solid;
}

main > * {
    border: red solid;
}

article:nth-of-type(1) {
    justify-content: space-evenly;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-even {
    display: flex;
    justify-content: space-evenly;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.centre {
    text-align: center;
}
