@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif;
    width: 100vw;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

nav {
    padding: 10px;
}

article {
    padding: 5%;
}

figure {
    width: 20%;
    height: 100%;
}

figure > img {
    width: 100%;
    border-radius: 5%;

}

article:nth-of-type(1) {
    justify-content: space-evenly;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

p, a, h4 {
    font-size: 18px;
    font-weight: 400;
}

figcaption {
    font-size: 16px;
    font-weight: 300;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

blockquote::before { 
    content: open-quote;
    font-size: 1.5em; 
    font-weight: 900;
} 

blockquote::after { 
    content: close-quote;
    font-size: 1.5em; 
    font-weight: 900;
} 

span {
    font-size: 24px;
}

.logo {
    font-size: 24px;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-even {
    display: flex;
    justify-content: space-evenly;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.centre {
    text-align: center;
}

.align-centre {
    align-items: center;
}
